:root {
  --main-cl: #ffffff;
  --main-txt-cl: #757575;
  --title-cl: #212121;
  --accent-cl: #2196f3;
  --dark-bg-cl: #2f303a;
  --icon-color: #afb1b8;
  --border-form: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

P {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--main-txt-cl);
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  color: var(--main-txt-cl);
}

h2 {
  padding-top: 20px;
}
.progress-bar {
  position: relative;
  width: 100%;
  height: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: grey;
  overflow: hidden;
}

.progress-bar__indicator {
  box-sizing: border-box;
  position: absolute;
  content: 'Loading';
  height: 16px;
  width: 80%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 1px solid black;
  background-color: var(--accent-cl);
}

.container {
  width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.table__bar {
  display: flex;
  align-items: center;
  height: 55px;
  padding: 0 40px;
}

.table__filter {
  position: relative;
  flex-grow: 2;
  width: 100%;
  height: 100%;
  margin-right: 10px;
}

.table__filter > input {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  border-radius: 5px;

  border: 2px solid var(--icon-color);
  padding: 0px 16px 0px 54px;
}

.icon {
  position: absolute;
  display: inline-block;
  top: 20px;
  left: 20px;
  fill: var(--icon-color);
}

.table__changes {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  margin-right: 10px;
}

.table__changes > button,
.button__else {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 8px;
  background-color: white;
  fill: rgb(96, 99, 102);
  border: 2px solid var(--icon-color);
}

.table__changes > button:first-child {
  border-radius: 5px 0 0 5px;
}

.table__changes > button:last-child {
  border-radius: 0 5px 5px 0;
}
.table__changes > button:not(:last-child) {
  border-right: none;
}

.table__changes-text {
  color: var(--main-txt-cl);
  margin-left: 8px;
}

.button__else {
  border: 2px solid var(--icon-color);
  border-radius: 5px;
  padding: 0 15px;
}

button {
  cursor: pointer;
}

.table {
  display: table;
  width: 100%;
  font-size: 16px;
  font-weight: 500;

  padding-top: 10px;
}

.line,
.table__header {
  display: table-row;
  padding: 0 20px;
}

.line > div,
.table__header > div {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  border-bottom: 1px solid var(--icon-color);
  padding: 16px 10px;
}

.line > div:first-child,
.table__header > div:first-child {
  padding-left: 40px;
}

.line > div:last-child,
.table__header > div:last-child {
  padding-right: 40px;
}

.table__header,
.order {
  font-weight: 800;
}

.customer {
  font-weight: 400;
}

.payment > span,
.status > span {
  background-color: var(--icon-color);
  border-radius: 15px;
  padding: 5px;
}

.circle__grey {
  width: 7px;
  height: 7px;

  border-radius: 50%;
  background-color: rgb(92, 95, 98);
  margin-right: 5px;
}

.circle__orange {
  width: 7px;
  height: 7px;
  border: 2px solid var(--icon-color);
  border-radius: 50%;

  margin-right: 5px;
}

.text__selection-grey {
  display: inline-flex;
  align-items: center;
  background-color: rgb(227, 228, 230);
  border-radius: 8px;
  padding: 5px 10px;
}

.text__selection-orange {
  display: inline-flex;
  align-items: center;
  background-color: rgb(255, 215, 157);
  border-radius: 8px;
  padding: 5px 10px;
}
