:root {
  --main-cl: #ffffff;
  --main-txt-cl: #757575;
  --title-cl: #212121;
  --accent-cl: #2196f3;
  --dark-bg-cl: #2f303a;
  --icon-color: #afb1b8;
  --border-form: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

P {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--main-txt-cl);
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  color: var(--main-txt-cl);
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: grey;
  overflow: hidden;
}

.progress-bar__indicator {
  box-sizing: border-box;
  position: absolute;
  content: 'Loading';
  height: 16px;
  width: 80%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 1px solid black;
  background-color: var(--accent-cl);
}

.table__container {
  width: 1480px;
  margin-right: auto;
  margin-left: auto;
}

.table__bar {
  display: flex;
  align-items: center;
}
.table__filter {
  position: relative;
}

.table__filter > input {
  width: 1100px;
  padding-left: 50px;
  border-radius: 5px;
  border-color: var(--icon-color);
  padding: 16px 16px 16px 54px;

  margin-right: 10px;
}
.icon {
  position: absolute;
  display: inline-block;
  top: 20px;
  left: 20px;
  fill: var(--title-cl);
}

.table__changes {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 10px;
  border: 2px solid var(--icon-color);
  border-radius: 5px;
}

.table__changes > div:not(:last-child) {
  border-right: 1px solid var(--icon-color);
}

.table__changes > div,
.button__else {
  padding: 16px;
}
.table__changes-text {
  margin-left: 16px;
}

.button__else {
  border: 2px solid var(--icon-color);
  border-radius: 5px;
}

.table__changes,
.button__else:hover,
.table__changes,
.button__else:focus {
  cursor: pointer;
}

.table {
  display: table;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  /* display: flex;
  flex-direction: column; */
  padding-top: 10px;
}

.line,
.table__header {
  display: table-row;
  border-bottom: 1px solid var(--icon-color);
}

.line > div,
.table__header > div {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  border: none;
  padding: 16px 0;
  margin-right: 30px;
}

.table__header,
.order {
  font-weight: 800;
}

.customer {
  font-weight: 400;
}
/* .line > div {
  text-align: left;
  padding: 16px 0;
} */
/* 
.select {
  width: 46px;
}

.order {
  width: 130px;
  font-weight: bold;
  color: var(--title-cl);
}

.date {
  font-weight: 500;
  width: 225px;
}

.customer {
  width: 150px;
}

.total {
  font-weight: 400;
  width: 125px;
}
.payment {
  display: flex;
  align-items: center;
  font-weight: 500;
  width: 190px;
}

.status {
  display: flex;
  align-items: center;
  font-weight: 500;
  width: 180px;
}

.item {
  font-weight: 500;
  width: 135px;
}

.delivery {
  width: 170px;
}

.tag {
  font-weight: 500;
  width: 45px;
}

.table__header > div {
  color: var(--title-cl);
  font-weight: bold;
}*/

.payment > span,
.status > span {
  background-color: var(--icon-color);
  border-radius: 15px;
  padding: 5px;
}

.circle__grey {
  width: 7px;
  height: 7px;

  border-radius: 50%;
  background-color: rgb(92, 95, 98);
  margin-right: 5px;
}

.circle__orange {
  width: 7px;
  height: 7px;
  border: 2px solid var(--icon-color);
  border-radius: 50%;

  margin-right: 5px;
}

.text__selection-grey {
  display: flex;
  align-items: center;
  background-color: rgb(227, 228, 230);
  border-radius: 8px;
  padding: 5px 10px;
}

.text__selection-orange {
  display: flex;
  align-items: center;
  background-color: rgb(255, 215, 157);
  border-radius: 8px;
  padding: 5px 10px;
}
